{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h2>Join an Existing Game</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <label for="gcode" class="col-5 col-form-label">Game Code</label>
                <input id="gcode" name="gcode" placeholder="Enter the 5-letter code" type="text"
                       class="form-control"
                       aria-describedby="gcodeHelpBlock">
                <span id="gcodeHelpBlock" class="form-text text-muted">Ask the host for the game code</span>
            </fieldset>
            <fieldset class="form-group">
                <label for="alias" class="col-5 col-form-label">Name</label>

                <input id="alias" name="alias" placeholder="Panagiotis" type="text" class="form-control"
                       aria-describedby="aliasHelpBlock">
                <span id="aliasHelpBlock" class="form-text text-muted">Choose a nickname</span>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group row">
                    <div class="offset-5 col-7">
                        <button name="submit" type="submit" class="btn btn-primary">Let's go!</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}